/* Style the form container */
.title {
  margin-bottom: 2rem; /* Equivalent to 32px */
}
/* Style the form title */
.title h2 {
  font-size: 2.25rem; /* Equivalent to 36px */
  background: var(
    --Linear-toughest-orange,
    linear-gradient(91deg, #ff5e00 0.03%, #b54300 100.03%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style the form input fields */

/* Style the form navigation */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-container p {
  font-size: 1.2rem; /* Equivalent to 14px */
  color: #777;
}

.navigation-container button {
  display: flex;
  font-family: Fredoka;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 0.625rem; /* Equivalent to 10px */
  font-size: 1.125rem; /* Equivalent to 18px */
  border-radius: 2.5rem; /* Equivalent to 40px */
  padding: 0.8rem 2rem 0.8rem 2rem; /* Equivalent to 8px 30px 8px 35px */
  background: linear-gradient(94deg, #ff7e33 0%, #ff5e00 100.01%);
  color: #fff;
  border: none;
  cursor: pointer;
}
.navigation-container button:hover {
  background: linear-gradient(95deg, #ff5e00 0%, #b54300 100%);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
  gap: 0.8rem;
}

/* For industries page */
/* Style the form description */
.description {
  margin-bottom: 2rem;
  font-size: 1.2rem; /* Equivalent to 14px */
  color: #777;
}
.description-box input {
  height: 22rem;
  border-radius: 3px;
  border: 0.5px solid var(--Foundation-Dark-Neutrals-dark-neutrals-100, #b3b6b6);
  background: var(--Foundation-Light-Neutrals-light-neutrals-200, #f4f4f4);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
}
input {
  font-size: 1.125rem; /* Equivalent to 18px */
}
