.t-industries-container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* ---------------------- TITLE ------------------------ */

.t-industries-title h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5rem;
  padding-left: 3rem;
  background: linear-gradient(91deg, #ff5e00 0.03%, #b54300 100.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 122.222% */
}

.t-industries-title p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #3c4144;
  padding-top: 1.6rem;
  padding-left: 5.4rem;
  padding-right: 5.4rem;
}
/* ---------------------- CHECKBOXES ------------------------ */

.t-industries-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 4rem;
  height: 34.5rem;
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.checkbox-container label {
  z-index: 1;
  text-align: center;
  pointer-events: none;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------------- NAVIGATION CONTAINER ------------------------ */

.t-industries-navigation-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15rem;
  width: 100%;
  height: 5rem;
  padding: 0 5.4rem;
  margin-top: 3rem;
}

/* ---------------------- NEXT BUTTON ------------------------ */

.t-industries-navigation-container button {
  display: inline-flex;
  padding: 0.8rem 3rem 0.8rem 3.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 4rem;
  background: linear-gradient(94deg, #ff7e33 0%, #ff5e00 100.01%);
  border: none;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.3s;
}

.t-industries-navigation-container button p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  color: rgba(253, 253, 253, 1);
  font-family: "Fredoka";
}

.t-industries-navigation-container button img {
  width: 2.5rem;
  height: 2.5rem;
}

.t-industries-navigation-container button:hover {
  display: inline-flex;
  padding: 8px 20px 8px 35px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  background: linear-gradient(95deg, #ff5e00 0%, #b54300 100%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transition-duration: 0.3s;
  cursor: pointer;
}

.t-industries-navigation-container button:focus {
  display: inline-flex;
  padding: 7px 19px 7px 34px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  background: linear-gradient(94deg, #ff7e33 0%, #ff5e00 100.01%);
  cursor: pointer;
}

/* ---------------------- PAGE NO ------------------------ */

.t-industries-essentials-page-number-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.4rem;
}

.t-industries-page-number {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(60, 65, 68, 1);
  background: linear-gradient(91deg, #ff5e00 0.03%, #b54300 100.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-industries-page-counter {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(60, 65, 68, 1);
}
