/* ---------------------- BASE IMG ------------------------ */
.base-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ---------------------- INNER IMG ------------------------ */
.talent-inner-left-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1.6rem;
  border-radius: 1rem 0 0 1rem;
  background: var(
    --Linear-hard-orange,
    linear-gradient(159deg, #ff7e33 0%, #ff5e00 100%)
  );
}

.talent-login-logo {
  height: 40%;
}

.talent-login-logo img {
  width: 100%;
  height: 100%;
}

.talent-login-info {
  width: 80%;
  text-align: center;
  font-family: Fredoka;
  font-size: 2.1rem;
  font-weight: 600;
  color: rgba(60, 65, 68, 1);
}

.talent-login-action-text {
  width: 80%;
  text-align: center;
  font-family: Fredoka;
  font-size: 2.1rem;
  font-weight: 600;
  color: rgba(60, 65, 68, 1);
  margin-bottom: 10%;
}

/* ----- 900px ----- */
@media (max-width: 56.25em) {
  .talent-inner-left-container {
    display: none;
  }
}
