.main-container {
  background: linear-gradient(113deg, #ffcdb0 0%, #b0cff7 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  font-size: var(--base-font-size);
}

/* Adjustments for better visual proportion */
.talent-content,
.recruiter-content {
  min-height: 500px; /* Increased minimum height for better visual proportion */
  padding: 5% 3%; /* Proportional padding */
}

/* Media Queries */
/* Medium devices (tablets, 640px and up) */
@media only screen and (min-width: 640px) {
  html {
    font-size: 16%; /* Base font size for medium devices */
  }
}

/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px; /* Base font size for large devices */
  }

  .talent-section,
  .recruiter-section {
    max-width: 45%; /* Adjusting width indirectly through font size */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --base-font-size: 22px; /* Adjust base font size for visual balance */
  }

  .talent-section,
  .recruiter-section {
    max-width: 40%; /* Optimal width adjustment */
  }
}

/* XXLarge devices (larger desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  :root {
    --base-font-size: 24px; /* Maximum base font size for very large screens */
  }

  .talent-section,
  .recruiter-section {
    max-width: 35%; /* Final width adjustment for very large screens */
  }
}
