.main-container {
  background: linear-gradient(113deg, #ffcdb0 0%, #b0cff7 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
}

.logo {
  width: 60%; /* Adjust logo size based on the screen width */
  max-width: 283px; /* Maximum logo width */
}

.sections-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.talent-section,
.recruiter-section {
  flex: 1; /* Equal flex-grow value for equal width */
  margin: 10px; /* Spacing between sections */
  max-width: 45%; /* Limit maximum width to ensure they stay near each other */
}

.talent-content,
.recruiter-content {
  border-radius: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding: 40px 30px;
  min-height: 300px; /* Adjusted for better responsiveness */
}

.talent-background,
.recruiter-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.talent-text,
.recruiter-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.talent-title,
.recruiter-title {
  text-align: center;
  border-radius: 40px;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px 40px;
  font-size: 1.5rem;
}

.talent-description,
.recruiter-description {
  text-align: center;
  font-size: 1rem;
  color: #7f7f7f;
}

/* Medium devices (tablets, 640px and up) */
@media only screen and (min-width: 640px) {
  .sections-container {
    flex-wrap: nowrap; /* Ensure no wrapping to column */
  }

  .talent-section,
  .recruiter-section {
    max-width: 40%; /* Adjust size for better spacing */
  }
}

/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .talent-section,
  .recruiter-section {
    max-width: 35%; /* Further adjust size for larger screens */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .talent-section,
  .recruiter-section {
    max-width: 30%; /* Adjust for extra space */
  }
}

/* XXLarge devices (larger desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  .talent-section,
  .recruiter-section {
    max-width: 35%; /* Optimize for very large screens */
  }
}
