.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.step-button {
    background-color: #FF7E33;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.step-button:hover {
    background-color: #FF6C15;
}

.step-icon {
    margin-left: 0.5rem;
}

.step-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF7E33;
}