.main-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* ---------------------- BG ------------------------ */

.main-layout-bg {
  background-color: rgba(253, 253, 253, 1);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2.573fr 4fr;
  position: absolute;
  z-index: 0;
}

.layout-bg-img {
  position: relative;
}

.layout-bg-right-side {
  background-color: rgba(253, 253, 253, 1);
}

.bg-inner-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------- INNER ------------------------ */

.inner-layout-container {
  width: 111rem;
  height: 60rem;
  border-radius: 10px;
  background: var(--Foundation-Light-Neutrals-light-neutrals-50, #fdfdfd);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.45);
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.inner-right-side {
  width: 100%;
  height: 100%;
  position: relative;
}

.inner-left-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.new-talent-form {
  padding: 0;
}

.form-container {
  gap: 0;
}
/* ---------------------- MEDIA QUERIES ------------------------ */

/* ----- 1440px  ----- */
@media (max-width: 90em) {
  .main-layout-bg {
    grid-template-columns: 2.572fr 4fr;
  }
  .inner-layout-container {
    width: 65%;
    height: 61rem;
    grid-template-columns: 1.995fr 4fr;
  }
}

/* ----- 1300px ----- */
@media (max-width: 81.25em) {
  .main-layout-bg {
    grid-template-columns: 2.62fr 4fr;
  }

  .inner-layout-container {
    width: 67%;
    height: 61rem;
    grid-template-columns: 2.1fr 4fr;
  }
}

/* ----- 1200px ----- */
@media (max-width: 75em) {
  .main-layout-bg {
    grid-template-columns: 2.62fr 4fr;
  }

  .inner-layout-container {
    width: 67%;
    height: 73rem;
    grid-template-columns: 2.1fr 4fr;
  }
}

/* ----- 1150px ----- */
@media (max-width: 71.875em) {
  .main-layout-bg {
    grid-template-columns: 1fr 0fr;
  }

  .layout-bg-right-side {
    display: none;
  }
  .inner-layout-container {
    width: 68%;
    height: 70rem;
    grid-template-columns: 2.2fr 4fr;
  }
}

/* ----- 1000px ----- */
@media (max-width: 62.5em) {
  .main-layout-bg {
    grid-template-columns: 1fr 0fr;
  }

  .layout-bg-right-side {
    display: none;
  }
  .inner-layout-container {
    width: 68%;
    height: 73rem;
    grid-template-columns: 2.2fr 4fr;
  }
}

/* ----- 900px ----- */
@media (max-width: 56.25em) {
  .inner-layout-container {
    width: 55%;
    height: 90rem;
    grid-template-columns: 0fr 1fr;
  }
}

/* ----- 820px ----- */
@media (max-width: 51.25em) {
  .inner-layout-container {
    width: 100rem;
    height: 110rem;
  }
}

/* ----- 720px ----- */
@media (max-width: 45em) {
  .inner-layout-container {
    width: 110rem;
    height: 140rem;
  }
}

/* ----- 620px ----- */
@media (max-width: 38.75em) {
  .inner-layout-container {
    width: 70%;
    height: 150rem;
  }
}

/* ----- 550px ----- */
@media (max-width: 34.375em) {
  .inner-layout-container {
    width: 90rem;
    height: 150rem;
  }
}

/* ----- 480px ----- */

@media (max-width: 30em) {
  .inner-layout-container {
    width: 90%;
    height: 140rem;
  }
}
